{% extends 'base.html' %}
{% block title %}Новая публикация{{post_id}}{% endblock %}
{% block content %}
<body>
  <div class="container">
    <form method="POST" class="form-register" style="color:white ">
      {{ form.hidden_tag() }}
      <br>
      <h1>Создать новую публикацию</h1>
      {{ form.author.label() }}
      {{ form.author(class="form-control", placeholder=current_user.username) }}
      {{ form.post_title.label() }}
      {{ form.post_title(class="form-control") }}
      {{ form.post_txt.label() }}
      {{ form.post_txt(class="form-control") }}
      {{ form.tags.label() }}
      {{ form.tags(class="form-control") }}
      <br>
      {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
    </form>
  </div>
{% endblock %}