{% extends 'base.html' %}
{% block title %}Публикация №{{post_id}}{% endblock %}
{% block content %}
<h1 align="center">Публикация №{{post_id}} на сайте по сериалу "Как я встретил вашу маму"</h1>
{% for publication in publications %}
    <p></p>
        {% if publication["id"] == post_id %}
        <div align="center">
            <a href='{{ url_for("home_page") + "/" + publication["author"] }}'><b>{{publication["author"]}}</b></a>
            <h3>{{publication["post_title"]}}</h3>
            <p>{{publication["post_txt"]}}</p>
            <p>{{publication["publication_date"]}}</p>
            {% for tag in publication["tags"].split(" ") %}
                <a href='{{ url_for("tag_page", tag=tag ) }}' >{{tag}}</a>
            {% endfor %}
        {% endif %}
        </div>
{% endfor %}

{% endblock %}