{% extends 'base.html' %}
{% block title %}Регистрация{% endblock %}
{% block content %}
<body>
  <div class="container">
    <form method="POST" class="form-register" style="color:white ">
      {{ form.hidden_tag() }}
      <br>
      <h1>Регистрация</h1>
      {{ form.username.label() }}
      {{ form.username(class="form-control") }}
      {{ form.email_address.label() }}
      {{ form.email_address(class="form-control") }}
      {{ form.password1.label() }}
      {{ form.password1(class="form-control") }}
      {{ form.password2.label() }}
      {{ form.password2(class="form-control") }}
      {{ form.date_of_birth.label() }}
      {{ form.date_of_birth(class="form-control") }}
      <br>
      {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
    </form>
  </div>
{% endblock %}
