{% extends 'base.html' %}
{% block title %}#{{tag}}{% endblock %}
{% block content %}
<h1 align="center">Тэг {{tag}} на сайте по сериалу "Как я встретил вашу маму"</h1>
{% for publication in publications %}
    {% if tag in publication['tags'] %}
        <div align="center">
            <a href='{{ url_for("username_page", username=publication["author"])}}'><b>{{publication["author"]}}</b></a>
            <p>{{publication["post_title"]}}</p>
            <p>{{publication["post_txt"]}}</p>
            <p>{{publication["publication_date"]}}</p>
            {% for t in publication["tags"].split(" ") %}
                <a href='{{url_for("tag_page", tag=t )}}'>{{t}}</a>
            {% endfor %}
        </div>
    {% endif %}
{% endfor %}
{% endblock %}