{% extends 'base.html' %}
{% block title %}Пользователь{% endblock %}

{% block content %}
<div class="container">
    <br>
<h1 align="center">Пользователь {{username}}</h1>
{% for user in users %}
        {% if user["username"] == username %}
        <div align="center">
            <h3>Дата рождения: {{user["date_of_birth"]}}</h3>
            <p>Дата регистрации: {{user["register_date"]}}</p>
            <h5>Публикации пользователя:</h5>
            {% for publication in publications %}
              {% if publication['author'] == username %}
                <a href="{{ url_for('publication_page', post_id=publication['id']) }}"><b>{{publication['post_title']}}</b></a>
              {% endif %}
            {% endfor %}
        </div>
        {% endif %}
{% endfor %}
</div>
{% endblock %}
